/* ========= VARIABLES =========== */
/*--- Colors ---*/
/* --- Font and Typography --- */
/* --- Font weight --- */
/* --- z-index --- */
/* --- Shadows --- */
/* ============= BASE STYLES =============== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  background-color: #FAFCFF;
  color: grey;
}

h1, h2, h3 {
  color: #0D3166;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

/* ============= REUSABLE CSS CLASES =============== */
.container {
  max-width: 1024px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.section__title span {
  color: rgb(255, 132, 0);
}

.section__subtitle {
  display: block;
  font-size: 0.8rem;
  color: rgb(255, 132, 0);
}

.main {
  overflow: hidden;
}

.button {
  display: inline-block;
  background: linear-gradient(100deg, #1755B2, #5e89c9);
  color: #FFFFFF;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px 0px #000000;
  border-radius: 0.5rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 5px 10px 0px #000000;
}

/* ============= SCROLL BAR =============== */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #FAFCFF;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  border-radius: 0.5rem;
}

/* --- Swiper Styles ---*/
.navigation__container {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #1755B2;
  cursor: pointer;
}
.navigation__container i {
  transition: all 300ms ease;
}
.navigation__container i:hover {
  color: rgb(255, 132, 0);
}

/* --- Accordion Styles --- */
.accordion--open {
  box-shadow: 0px 2px 4px 0px #000000;
}
.accordion--open .value__accordion--arrow i {
  transform: rotate(180deg);
}

/* ============= HEADER SECTION =============== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: all 300ms ease;
}
.header .window-scroll {
  background-color: #0C0C0D;
  transition: all 300ms ease;
}
.header .nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .nav__logo {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-weight: 500;
  transition: all 300ms ease;
}
.header .nav .nav__logo i {
  font-size: 1rem;
}
.header .nav .nav__logo:hover {
  color: #1755B2;
}

/* ============= HOME SECTION ============= */
.home {
  background: linear-gradient(170deg, rgb(77, 77, 77), #0C0C0D);
  padding-bottom: 0;
}
.home .home__container {
  padding-top: 2rem;
  row-gap: 3.5rem;
}
.home .home__container .home__data .home__title {
  font-size: 2.25rem;
  color: #FFFFFF;
  line-height: 120%;
  margin-bottom: 1.25rem;
}
.home .home__container .home__data .home__description {
  color: #979797;
  margin-bottom: 2rem;
}
.home .home__container .home__data .home__value {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.home .home__container .home__data .home__value .home__value--number {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
}
.home .home__container .home__data .home__value .home__value--number span {
  color: rgb(255, 132, 0);
}
.home .home__container .home__data .home__value .home__value--description {
  display: flex;
  color: #979797;
  font-size: 0.73rem;
}
.home .home__container .home__data .home__search {
  background-color: #FAFCFF;
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 3px solid #979797;
  margin-bottom: 2rem;
}
.home .home__container .home__data .home__search i {
  font-size: 1.25rem;
  color: #1755B2;
}
.home .home__container .home__data .home__search .home__search--input {
  width: 90%;
  background-color: #FAFCFF;
  color: grey;
  margin: 0 0.5rem;
}
.home .home__container .home__data .home__search .home__search--input ::-moz-placeholder {
  color: #979797;
}
.home .home__container .home__data .home__search .home__search--input ::placeholder {
  color: #979797;
}
.home .home__container .home__images {
  position: relative;
  display: flex;
  justify-content: center;
}
.home .home__container .home__images .home__orbe {
  width: 265px;
  height: 284px;
  background: linear-gradient(180deg, hsl(0, 0%, 16%) 93%, hsl(0, 0%, 67%) 100%);
  border-radius: 135px 135px 0 0;
}
.home .home__container .home__images .home__image {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  display: inline-flex;
  align-items: flex-end;
  bottom: -1.5rem;
  box-shadow: 0px 10px 20px 0px #000000;
}

/* =========== LOGOS SECTION =========== */
.logos__container {
  padding-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2rem;
}
.logos__container img {
  height: 60px;
  opacity: 0.2;
  transition: all 300ms ease;
}
.logos__container img:hover {
  opacity: 0.6;
}

/* ========== POPULAR SECTION =========== */
.popular__container {
  padding: 1rem 0 5rem;
}
.popular__container .popular__card {
  width: 270px;
  background-color: #FAFCFF;
  padding: 0.5rem 0.5rem 1.5rem;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px #000000;
  transition: all 300ms ease;
}
.popular__container .popular__card .popular__img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.popular__container .popular__card .popular__data {
  padding: 0 1rem 0.5rem;
}
.popular__container .popular__card .popular__data .popular__price {
  font-size: 1.25rem;
  color: #0C0C0D;
  margin-bottom: 0.25rem;
}
.popular__container .popular__card .popular__data .popular__price span {
  color: rgb(255, 132, 0);
}
.popular__container .popular__card .popular__data .popular__title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.popular__container .popular__card .popular__data .popular__description {
  font-size: 0.8rem;
}
.popular__container .popular__card:hover {
  box-shadow: 0px 5px 10px 0px #000000;
}

/* ============= VALUES SECTION ==============*/
.value__container {
  row-gap: 3rem;
}
.value__container .value__images {
  position: relative;
  display: flex;
  justify-content: center;
}
.value__container .value__images .value__orbe {
  width: 266px;
  height: 316px;
  background-color: whitesmoke;
  border-radius: 135px 135px 16px 16px;
}
.value__container .value__images .value__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0px 5px 10px 0px #000000;
}
.value__container .value__content .value__data .value__description {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.value__container .value__content .value__accordion {
  display: grid;
  row-gap: 1.5rem;
}
.value__container .value__content .value__accordion .value__accordion--item {
  background-color: #FAFCFF;
  border: 2px solid #E9ECF2;
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--header {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--header i {
  background-color: lightgray;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #1755B2;
  margin-right: 0.75rem;
  transition: all 300ms ease;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--header .value__accordion--title {
  font-size: 0.8rem;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--header .value__accordion--arrow {
  display: inline-flex;
  padding: 0.25rem;
  border-radius: 2px;
  font-size: 10px;
  margin-left: auto;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--content {
  overflow: hidden;
  height: 0;
  transition: all 300ms ease;
}
.value__container .value__content .value__accordion .value__accordion--item .value__accordion--content .value__accordion--description {
  font-size: 0.73rem;
  padding: 1.25rem 2.5rem 0 2.75rem;
}

/* =============== CONTACT SECTION ============== */
.contact__container {
  gap: 2rem;
}
.contact__container .contact__images {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.contact__container .contact__images .contact__orbe {
  width: 266px;
  height: 316px;
  background-color: lightgrey;
  border-radius: 135px 135px 16px 16px;
}
.contact__container .contact__images .contact__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0px 10px 20px 0px #000000;
}
.contact__container .contact__content .contact__data .contact__description {
  font-size: small;
  margin-bottom: 2.5rem;
}
.contact__container .contact__content .contact__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
}
.contact__container .contact__content .contact__card .contact__card--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFCFF;
  border: 2px solid #E9ECF2;
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 300ms ease;
}
.contact__container .contact__content .contact__card .contact__card--box .contact__card--info {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  margin-bottom: 1.25rem;
}
.contact__container .contact__content .contact__card .contact__card--box .contact__card--description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}
.contact__container .contact__content .contact__card .contact__card--box .contact__card--button {
  font-size: 0.8rem;
  padding: 14px 0;
  width: 100%;
  border-radius: 0.25rem;
  background: #c2d4f0;
  color: #1755B2;
  font-weight: 600;
  box-shadow: none;
}
.contact__container .contact__content .contact__card .contact__card--box .contact__card--button:hover {
  background: #1755B2;
  color: #FFFFFF;
}
.contact__container .contact__content .contact__card .contact__card--box:hover {
  box-shadow: 0px 5px 10px 0px #000000;
}
.contact__container .contact__content .contact__card i {
  padding: 6px;
  background-color: #c2d4f0;
  border-radius: 6px;
  font-size: 1.25rem;
  color: #1755B2;
}

/* ============ SUBSCRIBE SECTION ==============*/
.subscribe {
  padding: 2.5rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.subscribe .subscribe__container {
  background-color: #1755B2;
  padding: 3rem 2rem;
  border-radius: 1.25rem;
  border: 6px solid #c2d4f0;
  text-align: center;
}
.subscribe .subscribe__container .subscribe__title {
  font-size: 1.25rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.subscribe .subscribe__container .susbscribe__description {
  color: #FFFFFF;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
.subscribe .subscribe__container .subscribe__button {
  border: 2px solid #FFFFFF;
  background: #5e89c9;
  font-size: 0.8rem;
}
.subscribe .subscribe__container .subscribe__button:hover {
  background: #1755B2;
}

/* ============== FOOTER SECTION ============== */
.footer__container {
  row-gap: 2.5rem;
  place-content: center;
}
.footer__container .footer__logo {
  color: #1755B2;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
.footer__container i {
  font-size: 1.25rem;
}
.footer__container .footer__description {
  font-size: 0.8rem;
  font-weight: 500;
}
.footer__container .footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3rem;
}
.footer__container .footer__content .footer__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.footer__container .footer__content .footer__links {
  row-gap: 0.5rem;
}
.footer__container .footer__content .footer__links .footer__link {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
  transition: all 300ms ease;
}
.footer__container .footer__content .footer__links .footer__link:hover {
  color: #1755B2;
}
.footer__container .footer__content .footer__social {
  display: flex;
  row-gap: 1rem;
}
.footer__container .footer__content .footer__social .footer__social--link {
  font-size: 1.25rem;
  color: grey;
  transition: all 300ms ease;
}
.footer__container .footer__content .footer__social .footer__social--link:hover {
  color: #1755B2;
}

.footer__info {
  display: flex;
  padding-bottom: 8rem;
  margin-top: 5.5rem;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}
.footer__info .footer__copy {
  font-size: 0.73rem;
  font-weight: 500;
  color: grey;
}
.footer__info .footer__privacy {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.footer__info .footer__privacy a {
  font-size: 0.73rem;
  font-weight: 500;
  color: grey;
  transition: all 300ms ease;
}
.footer__info .footer__privacy a:hover {
  color: #1755B2;
}

@media screen and (max-width: 1023px) {
  /* --- Active Link --- */
  .active-link {
    background: linear-gradient(101deg, #1755B2, #5e89c9);
    color: #FFFFFF;
    box-shadow: 0px 2px 4px 0px #000000;
  }
  .active-link i {
    color: white;
  }
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: #FAFCFF;
    box-shadow: 0px 10px 20px 0px #000000;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 1.8rem;
    border-radius: 1.25rem;
    transition: all 300ms ease;
  }
  .nav__menu .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu .nav__list .nav__link {
    color: grey;
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .nav__menu .nav__list .nav__link i {
    font-size: 1.25rem;
    border-radius: 50%;
  }
  .nav__menu .nav__list .nav__link span {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  /* --- Responsive Typography --- */
}
/* ================= MEDIA QUERIES ================= */
/* --- Small Phones --- */
@media screen and (max-width: 350px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .section {
    padding: 3.5rem 0 1rem;
  }
  .home {
    padding-bottom: 0;
  }
  .contact__container .contact__content .contact__card {
    grid-template-columns: 180px;
    justify-content: center;
  }
}
/* --- Tablets --- */
@media screen and (min-width: 560px) {
  .contact__container .contact__content .contact__card {
    grid-template-columns: 200px 200px;
    justify-content: center;
  }
  .footer__container .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}
@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }
  .home__container .home__orbe {
    align-self: flex-end;
  }
  .home__container .home__data {
    padding-bottom: 2rem;
  }
  .logos__container {
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }
  .value__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .contact__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .contact__container .contact__images {
    order: 1;
  }
  .subscribe__container {
    margin: 3rem 7rem;
  }
  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
  }
}
/* --- Notebook --- */
@media screen and (min-width: 1023px) {
  body {
    font-size: 1rem;
  }
  .container {
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .section {
    padding: 7.5rem 0 1rem;
  }
  .section .section__title {
    font-size: 1.5rem;
  }
  .section .section__subtitle {
    font-size: 1rem;
  }
  .nav {
    height: 5rem;
  }
  .nav .nav__menu {
    width: initial;
    margin: auto;
  }
  .nav .nav__menu .nav__list {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .nav .nav__menu .nav__list .nav__link {
    color: #FFFFFF;
    font-weight: bold;
  }
  .nav .nav__menu .nav__list .nav__link i {
    display: none;
  }
  .nav .nav__menu .nav__list .active-link {
    color: #1755B2;
  }
  .home {
    padding-bottom: 0;
  }
  .home .home__container {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .home .home__container .home__data {
    padding-bottom: 4rem;
  }
  .home .home__container .home__data .home__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .home .home__container .home__data .home__description {
    margin-bottom: 3rem;
  }
  .home .home__container .home__data .home__value {
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
  .home .home__container .home__images .home__orbe {
    width: 504px;
    height: 611px;
    border-radius: 256px 256px 0 0;
  }
  .home .home__container .home__images .home__image {
    width: 472px;
    height: 634px;
    border-radius: 236px 236px 12px 12px;
    bottom: -2.5rem;
  }
  .logos__img img {
    height: 100px;
  }
  .popular__container {
    max-width: 70%;
    border: 5px solid #c2d4f0;
    border-radius: 2rem;
  }
  .popular__container .popular__card {
    width: 320px;
    padding: 0.75rem 0.75rem 2rem;
    margin-top: 1rem;
  }
  .value__container {
    align-items: flex-start;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .value__container .value__images .value__orbe {
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }
  .value__container .value__images .value__img {
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }
  .value__container .value__images .value__img img {
    max-width: initial;
    height: auto;
  }
  .value__container .value__content .value__data .value__description {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  .value__container .value__content .value__accordion .value__accordion--item {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }
  .value__container .value__content .value__accordion .value__accordion--item .value__accordion--header .value__accordion--title {
    font-size: 1rem;
  }
  .value__container .value__content .value__accordion .value__accordion--item .value__accordion--content .value__accordion--description {
    font-size: 0.9rem;
  }
  .contact__container .contact__images .contact__orbe {
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }
  .contact__container .contact__images .contact__img {
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }
  .contact__container .contact__images .contact__img img {
    max-width: initial;
    height: auto;
  }
  .contact__container .contact__content .contact__data .contact__description {
    font-size: 0.9rem;
  }
  .contact__container .contact__content .contact__card {
    grid-template-columns: repeat(2, 200px);
  }
  .contact__container .contact__content .contact__card .contact__card--box {
    padding: 1.5rem 1.5rem 1.5rem;
  }
  .subscribe .subscribe__container .subscribe__title {
    font-size: 2.2rem;
  }
  .subscribe .subscribe__container .susbscribe__description {
    font-size: 1rem;
    padding: 0 8rem;
  }
  .subscribe .subscribe__container .subscribe__button {
    font-size: 1rem;
  }
  .footer__container .footer__content {
    grid-template-columns: repeat(4, max-content);
  }
  .footer__info {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 2000px) {
  body {
    zoom: 1.5;
  }
}/*# sourceMappingURL=style.css.map */