/* ========= VARIABLES =========== */

$header-height: 3.5rem;

/*--- Colors ---*/
$white: #FFFFFF;
$black:#0C0C0D;
$primary-color: #1755B2;
$primary-color--light: #5e89c9;
$primary-color--lighten: #c2d4f0;
$secondary-color: rgb(255, 132, 0);

$title-color: #0D3166;
$text-color: grey;
$text-color-light: #979797;
$border-color: #E9ECF2;
$body-color: #FAFCFF;
$container-color: #FAFCFF;

/* --- Font and Typography --- */
$font: 'Poppins', sans-serif;
$biggest-font-size: 2.25rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.9rem;
$small-font-size: 0.8rem;
$smaller-font-size: 0.73rem;

/* --- Font weight --- */
$font-medium: 500;
$font-semi-bold: 600;

/* --- z-index --- */
$z-tooltip: 10;
$z-fixed: 100;

/* --- Shadows --- */
$shadow-sm: 0px 2px 4px 0px #000000;
$shadow-md: 0px 5px 10px 0px #000000;
$shadow-lg: 0px 10px 20px 0px #000000;

$container-lg: 80%;
$container-md: 90%;
$container-sm: 95%;

$transition: all 300ms ease;

/* ============= BASE STYLES =============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-size: $normal-font-size;
    background-color: $body-color;
    color: $text-color;
}

h1, h2, h3 {
    color: $title-color;
    font-weight: $font-semi-bold;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: $font;
    outline: none;
    border: none;
}

/* ============= REUSABLE CSS CLASES =============== */

.container {
    max-width: 1024px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.grid {
    display: grid;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: $h2-font-size;
    margin-bottom: 1rem;
}

.section__title span {
    color: $secondary-color;
}

.section__subtitle {
    display: block;
    font-size: $small-font-size;
    color: $secondary-color;
}

.main {
    overflow: hidden;
}

.button {
    display: inline-block;
    background: linear-gradient(100deg, $primary-color, $primary-color--light);
    color: $white;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    padding: 10px 20px;
    box-shadow: $shadow-sm;
    border-radius: 0.5rem;
    transition: $transition;
    cursor: pointer;
    &:hover {
        box-shadow: $shadow-md;
    }
}

/* --- Swiper Styles ---*/

.navigation__container {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: $primary-color;
    cursor: pointer;
    i{
        transition: $transition;
        &:hover {
            color: $secondary-color;
        }
    }
}

/* --- Accordion Styles --- */

.accordion--open {
    box-shadow: $shadow-sm;
    .value__accordion--arrow {
        i {
            transform: rotate(180deg);
        }
    }
}



/* ============= HEADER SECTION =============== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: $z-fixed;
    transition: $transition;
    .window-scroll {
        background-color: $black;
        transition: $transition;
    }
    .nav {
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav__logo {
            color: $white;
            display: flex;
            align-items: center;
            column-gap: .25rem;
            font-weight: $font-medium;
            transition: $transition;
            i {
                font-size: 1rem;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
}


/* ============= HOME SECTION ============= */


.home {
    background: linear-gradient(170deg, rgb(77, 77, 77), $black);
    padding-bottom: 0;
    .home__container {
        padding-top: 2rem;
        row-gap: 3.5rem;
        .home__data {
            .home__title {
                font-size: $biggest-font-size;
                color: $white;
                line-height: 120%;
                margin-bottom: 1.25rem;
            }
            .home__description{
                color: $text-color-light;
                margin-bottom: 2rem;
            }
            .home__value {
                display: flex;
                justify-content: center;
                gap: 2rem;
                .home__value--number {
                    color: $white;
                    font-size: $h1-font-size;
                    font-weight: $font-medium;
                    span {
                        color: $secondary-color;
                    }
                }
                .home__value--description {
                    display: flex;
                    color: $text-color-light;
                    font-size: $smaller-font-size;
                }
            }
            .home__search {
                background-color: $body-color;
                padding: .35rem .35rem .35rem .75rem;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                border: 3px solid $text-color-light;
                margin-bottom: 2rem;
                i {
                    font-size: 1.25rem;
                    color: $primary-color;
                }
                .home__search--input {
                    width: 90%;
                    background-color: $body-color;
                    color: $text-color;
                    margin: 0 .5rem;
                    ::placeholder {
                        color: $text-color-light;
                    }
                }
            }
        }
        .home__images {
            position: relative;
            display: flex;
            justify-content: center;
            .home__orbe {
                width: 265px;
                height: 284px;
                background: linear-gradient(180deg, hsl(0, 0%, 16%) 93%,hsl(0, 0%, 67%) 100%);
                border-radius: 135px 135px 0 0;
            }
            .home__image {
                position: absolute;
                width: 250px;
                height: 300px;
                overflow: hidden;
                border-radius: 125px 125px 12px 12px;
                display: inline-flex;
                align-items: flex-end;
                bottom: -1.5rem;
                box-shadow: $shadow-lg;
            }
        }
    }
}

/* =========== LOGOS SECTION =========== */

.logos__container {
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
    img {
        height: 60px;
        opacity: .2;
        transition: $transition;
        &:hover {
            opacity: 0.6;
        }
    }
}

/* ========== POPULAR SECTION =========== */
.popular__container {
    padding: 1rem 0 5rem;
    .popular__card {
        width: 270px;
        background-color: $container-color;
        padding: .5rem .5rem 1.5rem;
        margin: 0 auto 2rem;
        border-radius: 1rem;
        cursor: pointer;
        box-shadow: $shadow-sm;
        transition: $transition;
        .popular__img {
            border-radius: 1rem;
            margin-bottom: 1rem;
        }
        .popular__data {
            padding: 0 1rem .5rem;
            .popular__price {
                font-size: $h2-font-size;
                color: $black;
                margin-bottom: .25rem;
                span {
                    color: $secondary-color;
                }
            }
            .popular__title {
                font-size: $h3-font-size;
                margin-bottom: .75rem;
            }
            .popular__description {
                font-size: $small-font-size;
            }
        }
        &:hover {
            box-shadow: $shadow-md;
        }
    }
}

/* ============= VALUES SECTION ==============*/

.value__container {
    row-gap: 3rem;
    .value__images {
        position: relative;
        display: flex;
        justify-content: center;
        .value__orbe {
            width: 266px;
            height: 316px;
            background-color: whitesmoke;
            border-radius: 135px 135px 16px 16px;
        }
        .value__img {
            position: absolute;
            width: 250px;
            height: 300px;
            overflow: hidden;
            border-radius: 125px 125px 12px 12px;
            inset: 0;
            margin: auto;
            box-shadow: $shadow-md;
        }
    }
    .value__content {
        .value__data {
            .value__description {
                font-size: $small-font-size;
                margin-bottom: 2rem;
            }

        }
        .value__accordion {
            display: grid;
            row-gap: 1.5rem;
            .value__accordion--item {
                background-color: $body-color;
                border: 2px solid $border-color;
                border-radius: .5rem;
                padding: 1rem .75rem;
                .value__accordion--header {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    i {
                        background-color: lightgray;
                        border-radius: 50%;
                        font-size: 18px;
                        font-weight: bold;
                        color: $primary-color;
                        margin-right: .75rem;
                        transition: $transition;
                    }
                    .value__accordion--title {
                        font-size: $small-font-size;
                    }
                    .value__accordion--arrow {
                        display: inline-flex;
                        padding: .25rem;
                        border-radius: 2px;
                        font-size: 10px;
                        margin-left: auto;
                    }
                }
                .value__accordion--content {
                    overflow: hidden;
                    height: 0;
                    transition: $transition;
                    .value__accordion--description {
                        font-size: $smaller-font-size;
                        padding: 1.25rem 2.5rem 0 2.75rem;
                    }
                }
            }
        }
    }
}

/* =============== CONTACT SECTION ============== */

.contact__container {
    gap: 2rem;
    .contact__images {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        .contact__orbe {
            width: 266px;
            height: 316px;
            background-color: lightgrey;
            border-radius: 135px 135px 16px 16px;
        }
        .contact__img {
            position: absolute;
            width: 250px;
            height: 300px;
            overflow: hidden;
            border-radius: 125px 125px 12px 12px;
            inset: 0;
            margin: auto;
            box-shadow: $shadow-lg;
        }
    }
    .contact__content {
        .contact__data {
            .contact__description {
                font-size: small;
                margin-bottom: 2.5rem;
            }
        }
        .contact__card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25rem .75rem;
            .contact__card--box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: $body-color;
                border: 2px solid $border-color;
                padding: 1.25rem .75rem;
                border-radius: .5rem;
                transition: $transition;
                .contact__card--info {
                    display: flex;
                    align-items: flex-start;
                    column-gap: .75rem;
                    margin-bottom: 1.25rem;
                }
                .contact__card--description {
                    font-size: $small-font-size;
                    margin-bottom: 1rem;
                    margin-top: -1rem;
                }
                .contact__card--button {
                    font-size: $small-font-size;
                    padding: 14px 0;
                    width: 100%;
                    border-radius: .25rem;
                    background: $primary-color--lighten;
                    color: $primary-color;
                    font-weight: $font-semi-bold;
                    box-shadow: none;
                    &:hover {
                        background: $primary-color;
                        color: $white;
                    }
                }
                &:hover {
                    box-shadow: $shadow-md;
                }
            }
            i {
                padding: 6px;
                background-color: $primary-color--lighten;
                border-radius: 6px;
                font-size: 1.25rem;
                color: $primary-color;
            }
        }
    }
}

/* ============ SUBSCRIBE SECTION ==============*/

.subscribe {
    padding: 2.5rem 0;
    .subscribe__container {
        background-color: $primary-color;
        padding: 3rem 2rem;
        border-radius: 1.25rem;
        border: 6px solid $primary-color--lighten;
        text-align: center;
        .subscribe__title {
            font-size: $h2-font-size;
            color: $white;
            margin-bottom: 1rem;
        }
        .susbscribe__description {
            color: $white;
            font-size: $small-font-size;
            margin-bottom: 2rem;
        }
        .subscribe__button {
            border: 2px solid $white;
            background: $primary-color--light;
            font-size: $small-font-size;
            &:hover {
                background: $primary-color;
            }
        }
    }
}

/* ============== FOOTER SECTION ============== */

.footer__container {
    row-gap: 2.5rem;
    place-content: center;
    .footer__logo {
        color: $primary-color;
        font-size: $h3-font-size;
        font-weight: $font-semi-bold;
        display: flex;
        align-items: center;
        margin-bottom: .75rem
    }
    i {
        font-size: 1.25rem;
    }
    .footer__description {
        font-size: $small-font-size;
        font-weight: $font-medium;
    }
    .footer__content {
        grid-template-columns: repeat(2, max-content);
        gap: 2.5rem 3rem;
        .footer__title {
            font-size: $h3-font-size;
            margin-bottom: 1rem;
        }
        .footer__links {
            row-gap: .5rem;
            .footer__link {
                font-size: $small-font-size;
                font-weight: $font-medium;
                color: $text-color;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        .footer__social {
            display: flex;
            row-gap: 1rem;
            .footer__social--link {
                font-size: 1.25rem;
                color: $text-color;
                transition: $transition;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}
.footer__info {
    display: flex;
    padding-bottom: 6rem;
    margin-top: 5.5rem;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
    .footer__copy {
        font-size: $smaller-font-size;
        font-weight: $font-medium;
        color: $text-color;
    }
    .footer__privacy {
        display: flex;
        justify-content: center;
        gap: 2rem;
        a {
            font-size: $smaller-font-size;
            font-weight: $font-medium;
            color: $text-color;
            transition: $transition;
            &:hover {
                color: $primary-color;
            }
        }

    }
}










@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        bottom: 2rem;
        background-color: $container-color;
        box-shadow: $shadow-lg;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.3rem 1.8rem;
        border-radius: 1.25rem;
        transition: $transition;
        .nav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__link {
                color: $text-color;
                display: flex;
                padding: .5rem;
                border-radius: 50%;
                i {
                    font-size: 1.25rem;
                }
                span {
                    display: none
                };
            }
        }
    }
}




@media screen and (min-width: 1024px) {
    /* --- Responsive Typography --- */
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.9rem;
    $smaller-font-size: 0.8rem;
}